<footer class="bg-dark text-light py-3 w-100 fixed-bottom">
  <div class="container text-center">
    <small>
      © <%= new Date().getFullYear() %> Supabase CRUD |
      Сделано с ❤️ на Node.js + Supabase
    </small>
  </div>
</footer>

<!-- Подключение bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
